* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #f4f6f8;
}
header,
footer {
  width: 100vw;
  height: 3rem;
  text-align: center;
  color: #a0a1b4;
  font-weight: 600;
  font-size: 18px;
}
main {
  height: calc(100vh - 96px);
  display: grid;
  grid-template-areas: "img content content content";
}
.img {
  width: 40rem;
  grid-area: img;
}
.content {
  grid-area: content;
  display: flex;
  align-items: center;
}
.taylor {
  height: 52rem;
}
.content-box {
  padding: 20px 100px 20px 30px;
}
