* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  display: flex;
  flex-direction: column-reverse;
}
.banner {
  height: 25rem;
  margin: auto;
}
.container {
  padding: 2rem 6rem 2rem 1rem;
}
.item {
  display: flex;
}
.item.images {
  justify-items: center;
  display: grid;
  grid-template-areas:
    "one two"
    "three two"
    "four five";
  margin-bottom: 5rem;
}
img {
  width: 12rem;
}
.img1 {
  grid-area: two;
}
.img2 {
  grid-area: one;
}
.img3 {
  grid-area: three;
}
.img4 {
  grid-area: four;
}
.img5 {
  grid-area: five;
}
.content {
  justify-content: start;
  align-items: center;
  gap: 1rem;
}
.title {
  font-size: 4em;
  font-weight: 500;
  margin-bottom: 27px;
}
p {
  line-height: 160%;
  font-size: 18px;
}
.main-div {
  position: relative;
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/10366328/pexels-photo-10366328.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.absolute {
  position: absolute;
  background: white;
  padding: 2rem;
  top: 20%;
  right: 5rem;
  left: 5rem;
}
@media (min-width: 1250px) {
  main {
    height: 100vh;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .item.images {
    display: grid;
    grid-gap: 10px;
    padding: 30px;
    grid-template-areas: "one one two two" "three three two two" "four four five five";
  }
  img {
    width: 24rem;
  }
  .img1 {
    grid-area: two;
  }
  .img2 {
    grid-area: one;
  }
  .img3 {
    grid-area: three;
  }
  .img4 {
    grid-area: four;
  }
  .img5 {
    grid-area: five;
  }
}
